body{
    margin: 0px;
}

/* header css */

#navbar{
    background-color: rgb(37,37,38);
    grid-column-end: -1;
    grid-column-start: 1;
    display:flex;
    flex-direction: column;
}
#title{
    text-align: center;
    color: white;
    font-size: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#title > img{
    width: 60px;
    padding: 0 20px 0 20px;
}
.nav-item:hover{
    background-color: rgb(64, 64, 65);
}
#img{
    width: 20px;
} 
#Theory-img{
    width: 35px;
    height: 1em;
}

/* Main page css */

#main-page > h1{
    text-align: center;
    text-decoration: underline;
}
#main-page > p{
    padding: 20px;
}
#main-page > p > a{
    color: white;
}
#main-page > .split-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.split-screen > p{
    padding: 20px
}
.split-screen > img{
    padding:20px 0 0 0;
}
.split-screen > #Keyboard{
    height: 180px;
}
.split-screen > #Scale{
    padding:100px 0 0 0;
    height: 150px;
}
#strumming{
    height: 100px;
    margin-top:50px;
}
#main-page > p > #list{
    padding: 0 20px 0 20px;
    margin: 0;
}
h2{
    text-align: center;
}
table,.header-row,th{
    border: 3px solid;
    border-color:rgb(89, 89, 89);
    border-collapse:collapse;
    padding: 0 50px 0 50px;
}
.header-row{
    background-color: rgb(89, 89, 89);

}
table > h3{
    font-size: 20px;
}
#SheetMusic{
    height: 140px;
}
#photo-gallery{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow:dense;
    grid-gap:10px;
    margin:auto;
    padding: 70px 70px 70px 70px;
    border: 7px solid;
    border-color: rgb(108, 108, 108);
}
.basic-photo{
    grid-column: span 1;
    grid-row: span 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.wide-photo{
    grid-column: span 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.tall-photo{
    grid-row: span 2;
    grid-column: span 2;

    object-fit: cover;
    width: 100%;
    height: 100%;
}
.big-photo{
    grid-row: span 2;
    grid-column: span 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Footer css */

footer{
    background-color: rgb(37,37,38);
    grid-column-end: -1;
    grid-column-start: 1;
    display: flex;
    flex-direction: row wrap;
    justify-content:space-between;
}
footer > p{
    color: white;
    padding: 3em;
    margin: 0px;
}
footer > a{
    color: white;
    padding: 3em;
}

/* css for wide screen */

@media screen and (min-width: 768px){
    .wrapper{
        display:grid;
        grid-template-rows: 163px 1fr 165px;
    }
    #nav-items{
        background-color: rgb(33, 33, 33);
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
    }
    #nav-items>.nav-item{
        color: white;
        text-align: center;
        padding:41px;
        border-style:solid;
        border-width: 1px;
        border-color:rgb(55, 55, 59);
        border-radius: 5px;
    }
    #main-page{
        background-color: rgb(55, 55, 59);
        color: white;
        padding: 50px 100px 50px 100px;
        line-height: 35px;
    }
    table{
        width: 100%;
    }
    th>img{
        width:250px;
        margin: 0;
        padding: 0;
        transform: rotate(90deg);
    }
}

/* css for small screens */

@media screen and (width < 768px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 351px 1fr 165px;
    }
    #nav-items{
        background-color: rgb(33, 33, 33);
        display:grid;
        align-content: center;
    }
    #nav-items>.nav-item{
        color: white;
        text-align: center;
        vertical-align: top;
        padding:26px;
        border-style:solid;
        border-width: 1px;
        border-color:rgb(55, 55, 59);
        border-radius: 5px;
    }
    #main-page{
        background-color: rgb(55, 55, 59);
        color: white;
        padding: 50px 30px 50px 30px;
        line-height: 35px;
    }
    table{
        width: 100%;
    }
    th,img{
        width:250px;
        margin: 0;
        padding: 0;
    }
}

/* css for form */


form{
    font-size: 16px;
    text-align: center;
}
input,button{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(89, 89, 89);
    border: solid 2px rgb(55, 55, 59);
    color: white;
    font-size: 16px;
    justify-content: center;
}
select{   
    width: 160px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(89, 89, 89);
    border: solid 2px rgb(55, 55, 59);
    color: white;
    font-size: 16px;    
}

